{% extends "core/base.html" %}

{% block title %}Acerca de{% endblock title %}

{% block content %}

<h1 class="mt-4">Acerca de</h1>

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident sint cumque, sapiente saepe quae minima, amet, explicabo eos architecto, repudiandae debitis corporis molestias qui adipisci dicta iure dolorum vel maxime!</div>
<div>Itaque adipisci eius repudiandae vero harum autem nulla provident fuga molestias doloremque, maiores impedit minima sit deleniti odit obcaecati, aspernatur eligendi inventore blanditiis voluptates voluptatibus! Aliquid veritatis, aliquam necessitatibus natus!</div>
<div>Alias consequatur est optio quis vero, illum sequi neque! Reprehenderit assumenda aliquid, tempora odit nihil, quisquam ut autem animi, fugit tenetur pariatur hic aut sunt vel esse omnis eum! Illum.</div>
<div>Et iusto quos commodi magni quod incidunt fugiat excepturi pariatur numquam. Qui ipsam molestias quos minima esse, quia porro voluptate aliquid dolor. Deleniti, veritatis laudantium amet libero excepturi architecto animi!</div>
<div>Fugiat esse facere animi tenetur vel suscipit blanditiis quam reprehenderit, accusamus iusto voluptatem ipsam inventore ratione minima eius nostrum maiores quo nesciunt obcaecati non officia, rem fugit doloribus voluptatibus est!</div>
<div>Repellendus unde magnam, soluta ex architecto tempore facere obcaecati, molestiae rerum. Dolores officiis, fugiat rem eum dolore iste cumque cum ea aut, amet quia sint incidunt voluptatem. Itaque hic, asperiores.</div>
<div>Sequi illo commodi fugit, aliquid molestiae numquam. Rerum dolorem autem beatae perspiciatis officiis vel quisquam iusto ea labore et. Aliquam repellendus tempora perspiciatis at dolorem totam sit unde commodi accusantium.</div>
<div>Repellat nulla explicabo, quis, excepturi accusantium consectetur omnis officiis, aliquid dolorem tempore perspiciatis corrupti placeat cumque ipsa. Minus voluptatibus culpa voluptates tempore, corrupti vel iste sed! Eos quod quibusdam, expedita.</div>
<div>Architecto, nostrum quaerat inventore atque commodi explicabo sint impedit distinctio ratione labore enim quisquam est cumque, consequuntur magni accusantium velit eius praesentium amet fugit consequatur. Soluta consequuntur enim sapiente laboriosam.</div>
<div>Laborum ipsa, eum ullam facere, pariatur repellat cum deserunt minima architecto similique aliquid id laboriosam ducimus quisquam quod voluptatem doloribus incidunt? Dolore repellendus facere, accusantium numquam inventore nihil eos excepturi.</div>
	
{% endblock content %}