{% extends "core/core.html" %}
{% block name_title %}<title>{% block title %}{% endblock title %}</title> {% endblock name_title %}

{% block page %}

<div class="d-flex" id="wrapper">
    <!-- barra lateral -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Mi sitio web</div>
      <div class="list-group list-group-flush">
        {% if user.is_staff == True %}
          <a href="{% url 'registered_user' %}" class="list-group-item list-group-item-action bg-light">Usuarios Registrados</a>
        {% endif %}
        <a href="{% url 'about' %}" class="list-group-item list-group-item-action bg-light">Acerca de</a>
      </div>
    </div>

    <!-- navbar-->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Menu</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item {% if request.path == '/' %}active{% endif %}">
              <a class="nav-link" href="{% url 'index' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">{{request.user}} - 
                {% if user.is_staff == True %}
                  Admin
                {% else %}
                  Ventas
                {% endif %}
              </a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
            </li>
          </ul>
        </div>
      </nav>
    <!-- contenido -->
    <div class="container-fluid">
      {% block content %}{% endblock content %}
    </div>
   </div>
  </div>
{% endblock page %}

	