<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	{% block name_title %}{% endblock name_title %}

	{% load static %}
	<!--archivos css  -->
	<link rel="stylesheet" type="text/css" href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'core/css/simple-sidebar.css' %}">
	<!-- Iconos -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

	<!-- Archivos JS -->
	<script src="{% static 'core/vendor/bootstrap/js/bootstrap.min.js'  %}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- apps queries -->
	 <link rel="stylesheet" href="{% static 'queries/css/jquery.dataTables.min.css' %}">
	<!-- datepicker-->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />


	<script>
  	var csrftoken = '{{ csrf_token }}';
  </script>
</head>
<body>
{% block page %}{% endblock page %}
<!-- Archivos JS -->
<script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<!-- queries app-->
<script src="{% static 'queries/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'queries/js/tabla.js' %}"></script>

<script type="text/javascript">
 $(function () {
    $('#datetimepicker1').datetimepicker({
    	//ignora la etiqueta readonly="readonly"
    	ignoreReadonly: true,
    	//acticar despues de elegir la fecha 
    	useCurrent: false,
    	//format: 'YYYY-MM-DDTHH:mm:ss.sssZ',
    	icons: {
        time: "fas fa-clock",
      },
    });
    $('#datetimepicker2').datetimepicker({
    	//ignora la etiqueta readonly="readonly"
    	ignoreReadonly: true,
    	//Despues de elegir la fecha
    	useCurrent: false,
    	//format: 'YYYY-MM-DDTHH:mm:ss.sssZ',
    	icons: {
        time: "fas fa-clock",
      },
    });
  });

</script>
<!-- Script para el Menu Toggle -->
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
  $( document ).ready(function() {
    $('#modal').modal({backdrop: 'static', keyboard: false}, 'toggle')
	});
</script>

</body>
</html>