{% extends 'core/base.html' %}

{% block title %}Usuarios registrados{% endblock%}

{% block content %}
<div class="card my-4">
  <div class="card-header">Buscar por</div>
  <div class="card-body">
		<div class="form-row">
			<div class="col-12 col-md-6 col-lg-3">
				<label><small class="font-weight-bold">Nombre de usuario</small></label>
		    <input type="text" class="form-control" id="name">
		  </div>
		  <div class="col-12 col-md-6 col-lg-3">
		  	<label><small class="font-weight-bold">Correo electronico</small></label>
		    <input type="text" class="form-control" id="email">
		  </div>
		  <div class="col-12 col-md-6 col-lg-3">
		  	<div class="form-group">
		  		<label><small class="font-weight-bold" >Fecha de Inicio</small></label>
          <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
            <input type="text" readonly="readonly" class="form-control datetimepicker-input" data-target="#datetimepicker1" style="background-color: #fff">
            <input type="hidden"id="data_min" name="">
            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
            </div>
          </div>
        </div>
		  </div>
		   <div class="col-12 col-md-6 col-lg-3">
		   	<div class="form-group">
		  		<label><small class="font-weight-bold">Fecha de Finalizacion</small></label>
          <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
            <input type="text" readonly="readonly" class="form-control datetimepicker-input" data-target="#datetimepicker2" style="background-color: #fff">
            <input type="hidden" id="data_max" name="">
            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
            </div>
          </div>
        </div>
		  </div>
		</div>  
  </div>
</div>

<div class="card my-4">
	<div class="card-header">Usuarios Registrados</div>
  	<div class="card-body">
			<div class="table-responsive">
				<table id="table_user" class="table table-striped table-striped" style="width:100%">
					<thead>
						<tr>
							<td>Usuario</td>
							<td>Nombre</td>
							<td>Apellido</td>
							<td>Email</td>
							<td>Fecha de Registro</td>
						</tr>
					</thead>	
				</table>
			</div>
		</div>
	</div>
</div>


{% endblock %}
