{% extends 'core/core.html' %}

{% block page %}

<div class="modal fade pt-5" id="modal" tabindex="-1" role="dialog" aria-labelledby="mymodal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mymodal">Aviso</h5>
      </div>
      <div class="modal-body">
        El enlace de confirmación no era válido, posiblemente porque ya se ha utilizado.
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar</a>
      </div>
    </div>
  </div>
</div>

  <!--<p>El enlace de confirmación no era válido, posiblemente porque ya se ha utilizado.</p>-->
{% endblock %}

