{% extends "core/core.html" %}

{% block name_title %}<title>Iniciar Sesion</title> {% endblock name_title %}

{% block page %}

<div class="d-flex justify-content-center align-self-center pt-5">
{% if 'register' in request.GET %}
	<div class="alert alert-danger border-0" style="width: 24rem;" role="alert">
		<small class="form-text text-danger text-center">Se activo la cuenta correctamente, ya puede iniciar sesion.</small>
	</div>
{% endif %}
</div>
{% if form.errors %}
<div class="d-flex justify-content-center align-self-center">
	<div class="alert alert-danger border-0" style="width: 24rem;" role="alert">
		<small class="form-text text-danger text-center">Nombre de usuario o contraseña incorrectos.</small>
	</div>
</div>
{% endif %}
<div class=" d-flex justify-content-center align-self-center ">
	<div class="card  bg-light" style="width: 24rem;">
	  <h4 class="card-header text-center">Iniciar sesión</h4>
	  <div class="card-body">
	    <form method="post">
	    	{% csrf_token %}
	    	<div class="form-group">
		    	<label for="id_username">Usuario</label>
	    		<input type="text"  class="form-control" name="username" autofocus="" required="" id="id_username" maxlength="254">
	    	</div>
	    	<div class="form-group">
		    	<label for="id_password">Contraseña</label>
		    	<input type="password" class="form-control" name="password" required="" id="id_password">
	    	</div>
	    	<p class="text-right"><a href="{% url 'password_reset' %}">¿Has olvidado tu contraseña?</a></p>
	    	<button type="submit" class="btn btn-outline-primary btn-lg btn-block">Inicia Sesion</button>
	    </form>
	  </div>
	</div>
</div>
<div class="d-flex justify-content-center align-self-center pt-2">
	<p class="text-center">¿No tienes cuenta?
	<a href="{% url 'signup' %}" class="btn btn-outline-secondary btn-lg btn-block mt-2">REGISTRATE EN MSTW</a></p>
</div>
{% endblock page %}