{% extends "core/core.html" %}

{% block name_title %}<title>Restablecimiento de contraseña</title> {% endblock name_title %}

{% block page %}
  <div class=" d-flex justify-content-center align-self-center mt-5 pt-5">
	<div class="col-md-7">
		<h1 class="text-center display-6 font-weight-bold">Restablecimiento de contraseña</h1>
		<p class="text-center">Su contraseña ha sido restablecida. Puede seguir adelante e iniciar <a href="{% url 'login' %}">Iniciar Sesion</a> ahora.</p>
	</div>
</div>
{% endblock %}