{% extends "core/core.html" %}

{% block name_title %}<title>Restablecimiento de contraseña</title> {% endblock name_title %}

{% block page %}
	<div class=" d-flex justify-content-center align-self-center mt-5 pt-5">
	<div class="col-md-7">
		<h1 class="text-center display-6 font-weight-bold">Restablecimiento de contraseña</h1>
		<p class="text-center">Se te ha enviado un mensaje por <b>correo electrónico</b> con instrucciones sobre cómo <b>restablecer tu contraseña</b>.<p>
	</div>
</div>
{% endblock %}