{% extends "core/core.html" %}

{% block name_title %}<title>Restablecimiento de contraseña</title> {% endblock name_title %}

{% block page %}

{% if validlink %}
<div class=" d-flex justify-content-center align-self-center mt-5 pt-5" >
  <h1 class="text-center display-6 font-weight-bold">Volver a establecer contraseña</h1>
</div>
<div class=" d-flex justify-content-center align-self-center">
  <div class="col-md-5">

    <form method="post">
      {% csrf_token %}

      <div class="form-group">
       
        <label for"id_new_password1"><small class="font-weight-bold">Nueva contraseña</small></label>
        <input type="password" class="form-control" name="new_password1" required="" id="id_new_password1" aria-autocomplete="list">
      </div>
      <div class="form-group">
        <small class="form-text text-danger">{{ form.new_password2.errors }}</small>
        <label for="id_new_password2"><small class="font-weight-bold">Repetir nueva contraseña</small></label>
        <input type="password" class="form-control" name="new_password2" required="" id="id_new_password2">
      </div>
      <div class="d-flex justify-content-center mt-4">
        <button type="submit" class=" mx-5 btn btn-outline-primary btn-lg position-relative">ENVIAR</button>
      </div>
        <p class="mt-4">Si aún necesitas ayuda, ponte en contacto con el <a class="text-primary" href="#">Soporte de Mi sitio</a></p>
    </form>
  </div>
</div>
{% else %}
<div class=" d-flex justify-content-center align-self-center mt-5 pt-5">
  <div class="col-md-7">
    <h1 class="text-center display-6 font-weight-bold">Restablecimiento de contraseña</h1>
    <p class="text-center">El enlace para <b>restablecer la contraseña no era válido</b>, posiblemente porque ya se ha <b>utilizado</b>.<br>Por favor, solicite un nuevo <b>restablecimiento de contraseña</b>.</p>
  </div>
</div>
<div class=" d-flex justify-content-center align-self-center">
   <a href="{% url 'password_reset' %}" class="btn btn btn-outline-primary btn-lg">Solicitar un nuevo restablecimiento de contraseña</a>
</div>
{% endif %}
{% endblock %}