{% extends "core/core.html" %}

{% block name_title %}<title>Restablecimiento de contraseña</title> {% endblock name_title %}

{% block page %}

<div class=" d-flex justify-content-center align-self-center mt-5 pt-5">
	<div class="col-md-7">
		<h1 class="text-center display-6 font-weight-bold">Restablecimiento de contraseña</h1>
		<p class="text-center">Pon tu <b>dirección de correo electrónico</b> de Mi sitio.pythonanywhere.com, que usaste para registrarte.<br>Te enviaremos un mensaje con tu nombre de usuario y un enlace para restablecer tu contraseña.</p>
	</div>
</div>
<div class=" d-flex justify-content-center align-self-center">
	<div class="col-md-5">
		<form method="post">
		{% csrf_token %}
		<div class="form-group">
    	<label for="id_email"><small class="font-weight-bold">Dirección de correo electrónico</small></label>
    	<input type="email"  class="form-control" name="email" required="" id="id_email" maxlength="254">
  	</div>
  	<div class="d-flex justify-content-center mt-4">
  		<a href="{% url 'login' %}" class="btn btn btn-outline-danger btn-lg position-relative">Cancelar</a>
  	 	<button type="submit" class=" mx-5 btn btn-outline-primary btn-lg position-relative">ENVIAR</button>
  	</div>
  	 	<p class="mt-4">Si aún necesitas ayuda, ponte en contacto con el <a class="text-primary" href="#">Soporte de Mi sitio</a></p>
	</form>
	</div>
</div>
{% endblock %}