{% extends 'core/core.html' %}

{% block name_title %}<title>Registrate</title> {% endblock name_title %}

{% block page %}
<div class=" d-flex justify-content-center align-self-center  py-4">
	<div class="card  bg-light " style="width: 50rem;">
	  <h4 class="card-header text-center">Registrate</h4>
	  <div class="card-body">	
			<form method="POST">
				{% csrf_token %}
				<!--- validaor -->
			  <div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="id_username">Usuario</label>
			      <input type="text"  class="form-control" name="username" autofocus="" required="" id="id_username" maxlength="150">
			      {% if form.errors %}
				      {% for error in form.errors %}
						    {% if error == 'username'  %}
						    	<small class="form-text text-danger">Lo sentimos, ese nombre de usuario ya está registrado.</small>
								{% endif %}
							{% endfor %}							
						{% endif %}
			    </div>
			    <div class="form-group col-md-6">
			      <label for="id_first_name">Nombre</label>
			      <input type="text" class="form-control" name="first_name" id="id_first_name" maxlength="30">
			    </div>
			  </div>
			  <div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="id_last_name">Apellidos</label>
			      <input type="text" class="form-control" name="last_name" id="id_last_name" maxlength="30">
			    </div>
			    <div class="form-group col-md-6">
			      <label for="id_birt_date">Fecha de nacimiento</label>
			      <input type="date"  class="form-control" name="birt_date" required="" id="id_birt_date">
			    </div>
			  </div>
			  <div class="form-row">
			    <div class="form-group col-md-12">
			      <label for="id_email">Email</label>
			      <input type="email" class="form-control" name="email" required="" id="id_email" maxlength="254">
			       {% if form.errors %}
			      {% for error in form.errors %}
				      {% if error == 'email'  %}	
			  				<small class="form-text text-danger">Lo sentimos, ese correo ya está registrado.</small>
							{% endif %}
						{% endfor %}
					{% endif %}
			    </div>
			  </div>
			  <div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="id_password1">contraseña</label>
			      <input type="password" class="form-control" name="password1" required="" id="id_password1" maxlength="32">
			    </div>
			    <div class="form-group col-md-6">
			      <label for="id_password2">Confirmar contraseña</label>
			      <input type="password" class="form-control" name="password2" required="" id="id_password2">
			      {% if form.errors %}
			      {% for error in form.errors %}
				      {% if error == 'password2'  %}	
			  				<small class="form-text text-danger">La contraseña de verificación no coincide.</small>
							{% endif %}
						{% endfor %}
					{% endif %}
			    </div>
			  </div>
			  <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Registrate</button>
			</form>
			<p class="mt-3 text-center">¿Ya tienes una cuenta? <a href="{% url 'login' %}">Iniciar sesión</a></p>
		</div>
	</div>
</div>
{% endblock%}
